.tm_body{
    margin: 7rem 0 1rem 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.box1{
    margin-bottom: 3rem;
    margin-right: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-wrap: wrap;
}
.img_box{
    padding: 1rem 10px;
    position: relative;
}
.bgImg{
    position: absolute;
    right: -2rem;
    /* bottom: 10px; */
}
.Img{
   
    position: relative;
    top: 1.5rem;
}
.prPic{
    width: 150px;
    height: 150px;
}
.title{
    margin-top: 3rem;
    color: rgba(76, 108, 220, 1);
    font-size: 20px;
    font-family: 'Mulish', sans-serif;
    font-weight: 600;
    text-align: center;
}
.subtitle{
    margin: 1rem 0;
    width: 20rem;
    color: rgba(0, 0, 0, 1);
    font-size: 32px;
    font-family: 'Mulish', sans-serif;
    font-weight: 600;
    text-align: center;
    text-wrap: wrap;
}
.carousel_container {
    width: 700px; /* or any other fixed width */

  }
  

.box2{
    /* width: 700px; */
    margin-left: 3rem;
    padding: 2rem 3rem;
    background-color: rgba(174, 119, 244, 0.1);
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
}
.name{
    margin-top: 1rem;
    font-size: 24px;
    font-family: 'Mulish', sans-serif;
    font-weight: 600;
    color: rgba(0, 0, 0, 1);
    text-transform: capitalize;
    text-align: start;
}
.location{
    margin-top: 1rem;
    color: rgba(76, 108, 220, 1);
    font-size: 24px;
    font-family: 'Mulish', sans-serif;
    text-align: start;
    text-transform: capitalize;
}
.comment{
    margin: 1rem 0;
    width: 35rem;
    color: #535353;
    font-size: 20px;
    font-family: 'Mulish', sans-serif;
    text-align: start;
    text-wrap: wrap;
    text-transform: capitalize;
    line-height: 2;
}
@keyframes flipImage {
    0% {
      transform: rotateY(0deg);
    }
    100% {
      transform: rotateY(370deg);
    }
  }
  
  .flipping {
    animation: flipImage 1.3s ease forwards;
  }



/* .Img {
    transition: transform 0.9s ease;
  }
  
  .Img.flipped {
    transform: rotateY(360deg);
  } */

@media screen and (max-width: 1040px) {
    .box2{
        margin-left: 0;
    }
    .box1{
        margin-right: 0;
    }
}
@media screen and (max-width: 750px){
    .carousel_container{
        padding:2rem;
        height: auto;
        width: 500px;
        /* margin: 1rem auto; */
    }
    .comment{
        width: auto;
    }
}
@media screen and (max-width: 550px){
    .carousel_container{
        padding:1rem;
        width: 350px;
        /* margin: 1rem auto; */
    }
}
@media screen and (max-width: 400px){
    .carousel_container{
        padding:1rem;
        width: 270px;
        /* margin: 1rem auto; */
    }
    .subtitle{
        width: auto;
        padding: 0 5px;
        font-size: 25px;
    }
}