.about_body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.body_box{
    margin-top: 3rem;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    flex-direction: row;
    padding: 0;
}
.text_box{
    /* align-items: center; */
    width: 28rem;
    padding: 3rem 1rem 1rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(145.29deg, rgba(76, 108, 220, 0.05) 22.65%, rgba(76, 108, 220, 0) 47.95%);
    border-radius: 60px;
}
.head{
    padding: 0 5px;
    text-wrap: wrap;
    font-size: 48px;
    /* font-family: 'Mulish', sans-serif; */
    font-family: 'Mulish', sans-serif;
    font-weight: 600;
    text-transform: capitalize;
    color: #141414;
}
.subhead{
    padding: 0 5px;
    text-wrap: wrap;
    margin-top: 1rem;
    font-size: 16px;
    font-family: 'Mulish', sans-serif;
    color: #535353;
}
.btn_box{
    margin-top: 2rem;
    border-radius: 6px;
    width: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 4.5rem;
    background-color: rgba(76, 108, 220, 1);
    cursor: pointer;
}
.start_btn{
    margin-top: 3px;
    margin-right: 5px;
    color: #FFFFFF;
    font-size: 16px;
    /* font-weight: 600; */
    font-family: 'Mulish', sans-serif;
}
.start_icon{
    width: 18px;
    height: 18px;
}
.clr_text{
    color: #2149D7;
}

.img_box{
    margin-left: 2rem;
    display: flex;
    position: relative;
}
.img{
    position: absolute;
    left: 3.5rem;
    top: 5rem;
}
.bgImg{
    margin-top: 3rem;
}
@media screen and (max-width: 840px) {
    .head{
        margin-top: 1rem;
    }
    .img_box{
        margin-left: 0;
    }
    .text_box{
        align-items: center;
        text-align: center;
        background: none;
    }
    .body_box{
        background: linear-gradient(145.29deg, rgba(76, 108, 220, 0.05) 22.65%, rgba(76, 108, 220, 0) 47.95%);
        border-radius: 50px;
        width: 450px;
    }
}
@media screen and (max-width: 500px){
    .body_box{
        text-wrap: wrap;
        width: 350px;
        margin: 2rem 1rem;
    }
    .img{
        top: 3rem;
        left: 2rem;
    }
    .abt{
        width: 240px;
    }
    .abtBg{
        width: 280px;
    }
    .head{
        font-size: 30px;
    }
}
@media screen and (max-width: 350px){
    .head{
        font-size: 25px;
    }
    .body_box{
        width: 270px;
    }
    .text_box{
        padding: 2rem 1rem;
    }
    .btn_box{
        padding: 10px 3rem;
    }
}


.body_box2{
    padding: 2rem 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 4rem 0 0 0;
    background-color: rgba(244, 241, 250, 0.5);
}
.img_box2{
    margin-right: 2rem;
}
.text_box2{
    margin-left: 2rem;
    padding: 0 10px;
    width: 33rem;
    text-wrap: wrap;
}
.line1{
    color: rgba(223, 16, 91, 1);
    font-size: 24px;
    font-family: 'Mulish', sans-serif;
    font-weight: 550;
}
.line2{
    margin-top: 1rem;
    color: #2149D7;
    font-size: 32px;
    font-family: 'Mulish', sans-serif;
    font-weight: 600;
    line-height: 1.3;
    text-wrap: wrap;
}
.line3{
    text-wrap: wrap;
    margin-top: 1rem;
    color: rgba(0, 0, 0, 1);
    font-size: 18px;
    font-family: 'Mulish', sans-serif;
    line-height: 2;
}
.btn_box2{
    margin-top: 3rem;
    border-radius: 6px;
    width: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 5rem;
    background-color: rgba(26, 84, 117, 1);
    cursor: pointer;
}
.get_btn{
   
    margin-top: 3px;
    margin-right: 5px;
    color: #FFFFFF;
    font-size: 16px;
    /* font-weight: 600; */
    font-family: 'Mulish', sans-serif;
}
.getbtn_icon{
    color: #FFFFFF;
    font-size: 1.5rem;
}
@media screen and (max-width: 1185px) {
    .line1{
        margin-top: 2rem;
    }
    .img_box2{
        margin-right: 0;    
    }   
    .text_box2{
        margin-left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}
@media screen and (max-width: 575px){
    .text_box2{
        width: auto;
        padding: 10px 1rem;
    }
    .btn_box2{
        padding: 10px 3rem;
    }
    .abt2{
        width: 350px;
    }
    .line1{
        font-size: 22px;
    }
    .line2{
        font-size: 25px;
    }
}
@media screen and (max-width: 350px){
    .abt2{
        width: 250px;
    }
}