.step2_body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.head_box{
    padding: 1rem;
    margin: 2rem 1rem 4rem 1rem;
    display: flex;
    flex-direction: column;
}
.header{
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.title{
    color: rgba(76, 108, 220, 1);
    font-size: 28px;
    font-family: 'Mulish', sans-serif;
    font-weight: 600;
    text-transform: capitalize;
}
.step_box{
    display: flex;
}
.step{
    margin: 0 7px;
    color: #535353;
    font-size: 16px;
    font-family: 'Mulish', sans-serif;
    cursor: pointer;
}
.step:hover{
    color: rgba(76, 108, 220, 1);
    text-decoration: underline;
}
.colmTitle{
    margin: 2rem 0;
    color: rgba(0, 0, 0, 1);
    font-size: 20px;
    font-family: 'Mulish', sans-serif;
    font-weight: 600;
    text-transform: capitalize;
}
.credInput{
    margin-bottom: 1rem;
    outline: none;
    border: navajowhite;
    padding: 12px 1rem;
    background-color: rgba(76, 108, 220, 0.05);
    border-radius: 10px;
    color: #999; 
}
.slct_box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.slct{
    margin: 1rem;
    width: 300px;
    padding: 1rem;
    background-color: rgba(76, 108, 220, 0.05);
    border-radius: 10px;
    cursor: pointer;
}
.note{
    margin: 3rem 0 1rem 0;
    padding: 1rem;
    display: flex;
    align-items: center;
    background-color: rgba(220, 179, 76, 0.1);
    border-radius: 10px;
    font-size: 18px;
    font-family: 'Mulish', sans-serif;
    justify-content: center;
}
.bulb{
    margin-right: 5px;
}
/* .pr_box{
    margin: 0 0 3rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80vw;
} */
.btn_box{
    /* width: 52vw; */
    margin: 0 0 3rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.continue_btn{
    margin: 1rem 0;
    padding: 5px 6rem;
    display: flex;
    align-items: center;
    background-color: #1A2E75;
    border-radius: 180px;
    cursor: pointer;
}
.text{
    margin-left: 5px;
    color: #FFFFFF;
    font-size: 20px;
    font-family: 'Mulish', sans-serif;
    font-weight: 600;
}
.back{
    display: flex;
    align-items: center;
    padding: 10px 15px;
    cursor: pointer;
    color: #535353;
    text-decoration: underline;
    font-size: 18px;
}
@media screen and (max-width: 1300px) {
    .btn_box{
        width: 57vw;
    }
}
@media screen and (max-width: 900px){
    /* .pr_box{
        justify-content: center;
        align-items: center;
    } */
    .btn_box{
        justify-content: center;
    }
    .chat_btn{
        margin: 1rem;
    }
    .continue_btn{
        padding: 5px 3rem;
    }
    .text{
        /* width: 10rem; */
        font-size: 16px;
    }
    .pIcon{
        width: 4vw;
    }
    .chatIcon{
        font-size: 4vw;
    }
}
@media screen and (max-width: 370px){
    .text{
        width: 6rem;
        font-size: 14px;
    }
    
}
@media screen and (max-width: 500px){
    .title{
        font-size: 20px;
    }
    .slct{
        margin: 1rem 5px;
        padding: 1rem 5px;
        width: 240px;
    }
    .head_box{
        padding: 5px;
        margin: 1rem 10px 2rem 10px;
    }
}