.offer_body{
    background-color: rgba(246, 246, 246, 1);
    display: flex;
    justify-content: center;
    width: 98.8vw;
}
.offer_content{
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Mulish', sans-serif;
}
.boldtxt{
    padding-top: 4px;
    color: #141414;
    font-size: 14px;
    font-weight: 600;
}
.txt{
    padding-top: 4px;
    color:  #535353;
    font-size: 14px;
}
.get_btn{
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 700;
    color: #4C6CDC;
    text-decoration: underline;
    cursor: pointer;
}
.ofIcon{
    margin-left: 5px;
    width: 22px;
}