.step1_body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.head_box{
    padding: 1rem;
    margin: 2rem 1rem 4rem 1rem;
    display: flex;
    flex-direction: column;
}
.header{
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.title{
    color: rgba(76, 108, 220, 1);
    font-size: 28px;
    font-family: 'Mulish', sans-serif;
    font-weight: 600;
    text-transform: capitalize;
}
.step_box{
    display: flex;
}
.step{
    margin: 0 7px;
    color: #535353;
    font-size: 16px;
    font-family: 'Mulish', sans-serif;
    cursor: pointer;
}
.step:hover{
    color: rgba(76, 108, 220, 1);
    text-decoration: underline;
}

.note_box{
    margin: 3rem 0 1rem 0;
    padding: 1rem;
    display: flex;
    align-items: center;
    background-color: rgba(220, 179, 76, 0.1);
    border-radius: 10px;
}
.bulb{
    margin-right: 5px;
    font-size: 30px;
}
.note{
    /* margin: 3rem 0 1rem 0;
    padding: 1rem;
    display: flex;
    align-items: center;
    background-color: rgba(220, 179, 76, 0.1);
    border-radius: 10px; */
    font-size: 18px;
    font-family: 'Mulish', sans-serif;
    justify-content: center;
}
.h_box{
    margin: 3rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgba(33, 73, 215, 1);
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}
.colmTitle{
    /* margin: 2rem 0 10px 10px; */
    padding-right: 1rem;
    color: rgba(0, 0, 0, 1);
    font-size: 20px;
    font-family: 'Mulish', sans-serif;
    font-weight: 600;
    text-transform: capitalize;
}
.addbtn_box{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 550;
    font-family: 'Mulish', sans-serif;
}
.add_icon{
    margin-right: 5px;
    margin-top: 3.5px;
}
.add_btn{
    border: none;
    background: inherit;
}
.question_box{
    margin: 1rem 0;
    padding: 2rem;
    background-color: rgba(250, 250, 250, 1);
    border-radius: 10px;
}
.qbox_head{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.que_num{
    color: rgba(20, 20, 20, 1);
    font-size: 20px;
    font-weight: 600;
    font-family: 'Mulish', sans-serif;
}
.qbtn_box{
    display: flex;
}
.edit{
    color: rgba(20, 20, 20, 1);
    font-size: 30px;
    font-weight: 600;
    cursor: pointer;
    border: none;
    background: inherit;
}
.delete{
    margin-left: 1rem;
    color: rgba(20, 20, 20, 1);
    font-size: 30px;
    font-weight: 600;
    cursor: pointer;
    border: none;
    background: inherit;
}
.question{
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    border:1px solid rgba(250, 250, 250, 1);
    background-color: inherit;
    min-width: 97%; 
    height: 5rem; 
    color: rgba(83, 83, 83, 1);
    font-size: 18px;
    font-family: 'Mulish', sans-serif; 
    line-height: 1.5;
}
.question::placeholder {
    font-size: 16px; /* Set your desired font size */
  }
.question:focus {
    border:1px solid rgba(83, 83, 83, 0.451); 
    outline: none; 
}
/* .pr_box{
    margin: 0 0 3rem 0;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 80vw;
} */
.btn_box{
    /* width: 52vw; */
    margin: 0 0 3rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.pIcon{
    width: 40px;
}
.continue_btn{
    /* margin: 0 4rem; */
    padding: 13px 5.7rem;
    display: flex;
    align-items: center;
    background-color: #1A2E75;
    border-radius: 180px;
    cursor: pointer;
}
.text{
    margin-left: 5px;
    color: #FFFFFF;
    font-size: 20px;
    font-family: 'Mulish', sans-serif;
    font-weight: 600;
}
.back{
    margin-top: 2rem;
    display: flex;
    align-items: center;
    padding: 10px 15px;
    cursor: pointer;
    color: #535353;
    font-size: 18px;
    font-family: 'Mulish', sans-serif;
    font-weight: 600;
}
@media screen and (max-width: 1300px) {
    .btn_box{
        width: 57vw;
    }
}
@media screen and (max-width: 900px){
    /* .pr_box{
        justify-content: center;
        align-items: center;
    } */
    .btn_box{
        justify-content: center;
    }
    .chat_btn{
        margin: 1rem;
    }
    .continue_btn{
        padding: 10px 3rem;
    }
    .text{
        /* width: 10rem; */
        font-size: 18px;
    }
    .pIcon{
        width: 25px;
    }
}

@media screen and (max-width: 722px) {
    .colmTitle{
        padding-right: 1rem;
        font-size: 16px;
    }
    .add_btn{
        font-size: 16px;
    }
    .note{
        font-size: 16px;
    }
    .que_num{
        font-size: 18px;
    }
    .edit{
        font-size: 20px;
    }
    .delete{
        font-size: 20px;
    }
}
@media screen and (max-width: 370px){
    .continue_btn{
        padding: 10px 2.5rem;
    }
    .text{
        width: 6rem;
        font-size: 4vw;
    }
    .pIcon{
        width: 20px;
    }
    .back{
        font-size: 14px;
    }
    .colmTitle{
        padding-right: 1rem;
        font-size: 14px;
    }
    .note{
        font-size: 14px;
    }
    .add_btn{
        font-size: 14px;
    }
    .que_num{
        font-size: 15px;
    }
    .edit{
        font-size: 16px;
    }
    .delete{
        font-size: 16px;
    }
    .question_box{
        padding: 1rem;
    }
    .question{
        font-size: 16px;
    }
    .head_box{
        padding: 1rem 12px;
    }
}
