.sb_body{
    margin: 0px;
    padding: 6.5rem 0 0 0;
    display: flex;
    flex-direction: column;    
    /* position: fixed; */
    background-color: rgba(54, 56, 70, 1);
    height: 100%;
}
.head_iconBg{
    position: relative;
    top: -3.2rem;
    left: 5rem;
}
.head_icon{
    position: absolute;
    bottom: -1px;
    left: 3px;
    color: rgba(255, 255, 255, 1);
    font-size: 20px;
    font-weight: 600;
    font-family: 'Mulish', sans-serif;
}
.sb_items{
    display: flex;
    flex-direction: column;
    color: rgb(132, 133, 139);
}
.sb_body a {
    text-decoration: none;
}
.sb_resItems{
    display: none;
    overflow-x: scroll;
    white-space: nowrap;
 }

 
@media screen and (max-width: 1350px) {
    .sb_body{
        padding: 2rem 0 0 0;
        background-color: inherit;
    }
    .sb_items{
        display: none;
    }
    .sb_resItems{
       display: flex;
       justify-content: center;
    }
}
@media screen and (max-width: 960px){
    .sb_resItems{
        justify-content: flex-start;
    }
}
