.temp_body{
    width: 27rem;
    margin: 1rem 2rem;
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem 0 2rem;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 20px;
    box-shadow: 1px 1px 15px rgba(146, 142, 142, 0.641);
}
.line1{
    margin-top: 2rem;
    color: #2149D7; 
    font-size: 16px;
    font-family: 'Mulish', sans-serif;
    font-weight: 600;
}
.line2{
    text-wrap: wrap;
    margin-top: 1rem;
    color: rgba(0, 0, 0, 1);
    font-size: 24px;
    font-family: 'Mulish', sans-serif;
    font-weight: 600;
}
.line3{
    /* width: 22rem; */
    line-height: 2;
    margin-top: 1rem;
    color: rgba(0, 0, 0, 1);
    font-size: 16px;
    font-family: 'Mulish', sans-serif;
    text-wrap: wrap;
}
.img_box{
    margin-top: 5rem;
    /* display: flex; */
    position: relative;
    /* align-items: center; */
}
.bgImg{
    position: absolute;
    top: 6rem;
    left: 3.5rem;
}
.img{
    display: flex;
    position: relative;
    /* right: 0rem; */
}
@media screen and (max-width: 570px) {
    .temp_body{
        margin: 1rem 0;
        width: 18rem;
    }
    .img_box{
        margin-top: 3rem;
    }
    .bgImg{
        top: 5rem;
        left: 2rem;
    }
    .bg{
        width: 200px;
       
    }
    .img{
        right: 1rem;
    }
    .pic{
        width: 300px;
    }
}
@media screen and (max-width: 350px){
    .temp_body{
        width: 15rem;
        padding: 10px 1rem 0 1rem;
    }
    .bgImg{
        top: 3.9rem;
        left: 1rem;
    }
    .pic{
    width: 270px;
    }
}